h2 {
    color:blue;
     font: size 70px; 
     margin:0px;
     background-color: aqua
     text align:center;
}
p{
    font-family: arial;
    line-height: 50px;
    font-size: 50;
}
.country-name{
    color: aqua;
    text-align: center;
}
#index -country-name{
    color: aqua;
    font-size: large;

}
.country-name{
    color: aqua;
    text-align: center;
}
body {
    background-color: blue;
}